*{
  margin: 0px;
  padding: 0px;
  font-family: poppins;


}
a{
    text-decoration:none ;
}

    #testimonials{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
 .testimonial-heading
 {
letter-spacing: 1px;
margin: 30px 0px;
padding: 10px 20px;
display: flex;
flex-direction: center;
justify-content: center;
}
.testimonial-heading h1{
    font-size: 2.2rem;
    font-weight: 500;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    padding: 10px 20px;


      
}
.testimonial-box-container{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.testimonial-box{
    width: 500px;
    box-shadow:2px 2px 30px rgb(97, 96, 96);
    background-color: white;
    padding: 20px;
    margin: 15px;
    cursor :pointer;

}
.profile-img{
width: 50px;
height: 50px;
border-radius:50%;
overflow:hidden;
margin-right: 10px;
}
.profile{

    display: flex;
    align-items: center;
}

.name-user strong{
color: rgb(22, 22, 22);
font-size: 1.1rem;
letter-spacing: 0.5px;
}


.name-user span{
    color: rgb(97, 97, 99);
    font-size: 0.8rem;
}
.reviews{

color: gold;


}
.box-top{

    display:flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 20px;
}
.client-comment p{
    font-size: 0.9 rem;
    color: rgb(66, 66, 66);
}
.testimonial-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}
